/* GLOBAL STYLES */

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

/* END GLOBAL */

#main-header {
  background-color: rgb(27, 27, 27);
  height: 2em;
  box-shadow: 0 1px 15px black;
}

.type-logo {
  color: rgb(47, 185, 219);
  font-family: Helvetica;
  margin: 0;
}

.logo-container {
  padding-top: .5em;
  padding-left: 1em;
}


